<div id="tcomment" class="twikoo-container"></div>
<script src="https://s4.zstatic.net/npm/twikoo@1.6.44/dist/twikoo.min.js"></script>
<script>
twikoo.init({
  envId: 'https://twikoo-mlosun.netlify.app',
  el: '#tcomment',
  lang: 'zh-CN',
  path: window.location.pathname
})
</script>