<div id="tcomment"></div>
<script src="https://s4.zstatic.net/npm/twikoo@1.6.44/dist/twikoo.min.js"></script>
<script>
twikoo.init({
  envId: 'https://twikoo-mlosun.netlify.app',
  el: '#tcomment',
  lang: 'zh-CN',
  path: window.location.pathname
});

// 限制宽度
setTimeout(() => {
  document.querySelector('.twikoo')?.style?.cssText = 'max-width:800px;width:100%;margin:0 auto;';
}, 1000);
</script>