.twikoo,
.twikoo * {
  max-width: 100% !important;
  word-wrap: break-word !important;
}

.twikoo .tk-input {
  width: 100% !important;
  max-width: 100% !important;
}

.twikoo .tk-submit {
  width: auto !important;
}